@import '../../../../assets/css/base.less';
/* 总体布局，中间自适应，两边固定 */
.right-cont{
  margin-left: 260px;
}
.editor-wrap{
  display: flex;
  align-items: flex-start;
  .editor-cont{
    flex: 1 1 auto;
    margin-right: 30px;
    height: 750px;
    overflow: auto;
    .special-scroll();
  }
  .conf-wrap{
    width: 300px;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 12px;
  }
}

.btn-wrap{
  text-align: right;
  padding-right: 20px;
}
.editor-cont{
  padding-top: 60px;
}
.editor-page{
  width: 414px;
  border:1px solid #ccc;
  margin: 0 auto;
  .drag-editor{
    min-height: 700px;
    padding-bottom: 32px;
  }
  .layout-item{
    margin-bottom: 4px;
    position: relative;
    .del-layout{
      width: 18px;
      height: 24px;
      color: #fff;
      font-size: 14px;
      position: absolute;
      right: 0px;
      bottom: 0px;
      background: rgba(0,0,0,0.2);
      text-align: right;
      padding-right: 8px;
      line-height: 24px;
      border-radius: 0 50% 50% 0;
      transform: translate3d(100%, 0, 0);
      .transition-fn();
      cursor: pointer;
      &:hover{
        background: rgba(0,0,0,0.6);
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
      }
    }
  }
}
